# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT — must be at least 32 characters
JWT_KEY=
JWT_EXPIRATION=

# Application
APPLICATION_SEPENDING_ANOMALYTHRESHOLD=
APPLICATION_SEPENDING_MAXMONTHS=
CORS_ORIGINS_0=

